#container {
  display: flex;
  height: 600px;
  width: 600px;
  border: 1px solid black;
}

.square {
  /* border: 2px solid red; */
  border: 2px solid black;
  box-sizing: border-box;
}

.squarestyle {
  background-color: blue;
}
